@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");


.material-icons:hover {
  cursor: pointer;
}


h2 {
  font-family: "Grand Hotel", cursive;
}

.mycard {
  margin-top: 30px;
}
.auth-card {
  margin: auto;

  padding: 20px;
  text-align: center;
  max-width: 400px;
}
.linkstyle{
  color:white;
}


/* Profile page*/
.profile {
  /* /* max-width:550px; */
  margin: 20px;
}

.p-section {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
  width: 100%;
  align-items:self-start;
}
.box2{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
/* update pic button */
.probtn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.dp {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

/*End of Profile page*/

/* Home page*/

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
/*End of Home page*/
/* navbar*/
.navboxx {
  box-shadow: solid 0 5px 40px #3e3e3e;
  border-radius: 30px;
  /* border: none; */
  margin-top:1.625rem ;
  background: transparent;
}
.logo {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
  height: max-content;
  font-weight: 900;
  background: linear-gradient(to right, #c9e2ba 0%, #aaec8e 50%, #0a880c 100%);
  background-clip: text;
  color: transparent !important;
  margin-left: 3.5rem;
}
.button {
  color: #ffffff;
  display: inline-block;
  padding: 0px 25px;
  background-color: #8f69e8;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  margin-left: 3.5rem;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #4b2a67;
}

.button:active {
  transform: translateY(2px);
  background-color: #4b2a67;
}

@media screen and  (max-width:992px) {
  .brand-logo
  {
    left:0;
  }
  
}
.searchbar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
}

.searchbar--max-width {
  max-width: 100%;
}

.searchbar__input:focus {
  background: white;
  box-shadow: 0 0 2px #8CC6BA;
}

.searchbar__input::placeholder {
  color: #8CC6BA;
}

.searchbar__button {
  width: 40px;
  background: #009879;
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:  5px 5px ;
  cursor: pointer;
  user-select: none;
}

.searchbar__button:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

/*End of navbar*/
/*login page*/

.container {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 500vh; */
}

.signup-box,
.login-box {
  padding: 30px;
  text-align: center;
  max-width: 100%;
}

.loginh2 {
  font-size: 50px;
  height: max-content;
  font-weight: 900;
  background: linear-gradient(to right, #c9e2ba 0%, #aaec8e 50%, #0a880c 100%);
  background-clip: text;
  color: transparent;
}

.loginform {
  display: flex;
  flex-direction: column;
}

.logininput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 20px;
  background: linear-gradient(to right, #c9e2ba 0%, #aaec8e 50%, #0a880c 100%);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  caret-color: white;
}

.buttonlog {
  padding: 10px;
  margin: 0.625rem;
  background-color: #064687;
  font-weight: 900;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonlog:hover {
  background-color: #0d5cb6;
}

/*End og login page*/

/*background of site*/
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #040404;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 50%;
  left: 23%;
  animation-duration: 7s;
  animation-delay: -32s;
  transform-origin: 1vw -8vh;
  box-shadow: 40vmin 0 5.685333668026254vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 5%;
  left: 18%;
  animation-duration: 11s;
  animation-delay: -38s;
  transform-origin: -3vw -14vh;
  box-shadow: -40vmin 0 5.8046384530314565vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 49%;
  left: 5%;
  animation-duration: 28s;
  animation-delay: -41s;
  transform-origin: 15vw -1vh;
  box-shadow: 40vmin 0 5.414211014968458vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 47%;
  left: 67%;
  animation-duration: 30s;
  animation-delay: -21s;
  transform-origin: 24vw -13vh;
  box-shadow: -40vmin 0 5.855478776118206vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 42%;
  left: 22%;
  animation-duration: 43s;
  animation-delay: -44s;
  transform-origin: -17vw -13vh;
  box-shadow: -40vmin 0 5.908904309878023vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 44%;
  left: 49%;
  animation-duration: 10s;
  animation-delay: -37s;
  transform-origin: 15vw 0vh;
  box-shadow: -40vmin 0 5.266257040387423vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 91%;
  left: 79%;
  animation-duration: 18s;
  animation-delay: -39s;
  transform-origin: -13vw 22vh;
  box-shadow: 40vmin 0 5.640458158633166vmin currentColor;
}
.background span:nth-child(7) {
  color: #e45a84;
  top: 72%;
  left: 25%;
  animation-duration: 21s;
  animation-delay: -4s;
  transform-origin: -8vw 17vh;
  box-shadow: 40vmin 0 5.337685443807429vmin currentColor;
}
.background span:nth-child(8) {
  color: #e45a84;
  top: 5%;
  left: 25%;
  animation-duration: 17s;
  animation-delay: -29s;
  transform-origin: -9vw 10vh;
  box-shadow: -40vmin 0 5.0068503486762665vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 18%;
  left: 77%;
  animation-duration: 26s;
  animation-delay: -36s;
  transform-origin: -14vw -1vh;
  box-shadow: -40vmin 0 5.755234302815483vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 1%;
  left: 51%;
  animation-duration: 21s;
  animation-delay: -11s;
  transform-origin: 13vw 14vh;
  box-shadow: 40vmin 0 5.366606134920888vmin currentColor;
}
.background span:nth-child(11) {
  color: #e45a84;
  top: 26%;
  left: 5%;
  animation-duration: 16s;
  animation-delay: -11s;
  transform-origin: 16vw 9vh;
  box-shadow: 40vmin 0 5.880032254327457vmin currentColor;
}
.background span:nth-child(12) {
  color: #e45a84;
  top: 18%;
  left: 47%;
  animation-duration: 12s;
  animation-delay: -44s;
  transform-origin: -6vw -11vh;
  box-shadow: -40vmin 0 5.168332819231132vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 49%;
  left: 3%;
  animation-duration: 29s;
  animation-delay: -30s;
  transform-origin: 23vw -5vh;
  box-shadow: 40vmin 0 5.091760457625864vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 32%;
  left: 15%;
  animation-duration: 26s;
  animation-delay: -18s;
  transform-origin: -12vw 18vh;
  box-shadow: 40vmin 0 5.149796933665464vmin currentColor;
}
.background span:nth-child(15) {
  color: #e45a84;
  top: 17%;
  left: 71%;
  animation-duration: 33s;
  animation-delay: -40s;
  transform-origin: 4vw -2vh;
  box-shadow: -40vmin 0 5.387210072494315vmin currentColor;
}
.background span:nth-child(16) {
  color: #c82e5c;
  top: 70%;
  left: 76%;
  animation-duration: 37s;
  animation-delay: -35s;
  transform-origin: -7vw 18vh;
  box-shadow: 40vmin 0 5.711146143117568vmin currentColor;
}
.background span:nth-child(17) {
  color: #e45a84;
  top: 57%;
  left: 44%;
  animation-duration: 39s;
  animation-delay: -9s;
  transform-origin: 23vw -22vh;
  box-shadow: -40vmin 0 5.629385038474981vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 89%;
  left: 15%;
  animation-duration: 11s;
  animation-delay: -46s;
  transform-origin: -18vw 14vh;
  box-shadow: -40vmin 0 5.677128012532382vmin currentColor;
}
.background span:nth-child(19) {
  color: #6e51a0;
  top: 64%;
  left: 9%;
  animation-duration: 41s;
  animation-delay: -41s;
  transform-origin: 17vw 24vh;
  box-shadow: 40vmin 0 5.534179288172059vmin currentColor;
}

/*end of background of site*/

/*Signup and login page*/
.shadow {
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  width: 60%;
  box-shadow: solid 0 0 40px #3e3e3e;
  /* background: #15202B; */
  transition: 5s;
}
.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  /* top: -4px; */
  /* left: -4px; */
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;

  animation: animate 5s linear infinite;
}

.shadow::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    box-shadow: 5px 0 10px #0000ff, 0 5px 10px green, -5px 5px 10px yellow,
      0 -5px 10px #ff0000;
  }

  25% {
    box-shadow: 5px 0 10px red, 0 5px 10px blue, -5px 5px 10px green,
      0 -5px 10px yellow;
  }

  50% {
    box-shadow: 5px 0 10px yellow, 0 5px 10px red, -5px 5px 10px blue,
      0 -5px 10px green;
  }
  75% {
    box-shadow: 5px 0 10px green, 0 5px 10px yellow, -5px 5px 10px red,
      0 -5px 10px blue;
  }
  100% {
    box-shadow: 5px 0 10px #0000ff, 0 5px 10px green, -5px 5px 10px yellow,
      0 -5px 10px #ff0000;
  }
}

/*End of Signup and login page*/
