@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}

.brand-logo,h2{
    font-family: 'Grand Hotel',cursive;
}

.mycard{
    margin-top: 30px;
}
.auth-card{
    margin: auto;
    
    padding: 20px;
    text-align: center;
    max-width:400px;
}

/* Profile page*/
.profile{
    /* /* max-width:550px; */
    margin:20px  ;
}

.p-section{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid grey;
    width:100%;

}
.dp{
    width: 160px; height: 160px; border-radius: 80px ;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 30%;
}

/*End of Profile page*/

/* Home page*/

.home-card{
    max-width:500px;
    height:max-content;
    margin:26px auto;
}
